.myinput{
    width: 125px;
    margin-bottom: 10px;
    display: block;
    border: none;

}
.mybtn{
    color:rgb(0, 0, 0);
    margin: 4px;
    

}

.mybtn:hover{
    color:rgb(0, 0, 0);
   box-shadow: 2px 2px 2px gray;
    

}
span{
    display: block;
    width: 300px;
}

.opbtn{
    margin-left: 15px;
    color: #2770bf;
    width: 24px;
}
.btn_equal{
    width: 55px;
    margin-right: 3px;
    margin-left: 4px;
}