
.mybox{
    border-width: 2px;
    border-color: cornflowerblue;
    width: 200px;
    height: 300px;
    
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    
   
}
.mybtn{
    width: 40px;
    height: 40px;
    background-color: rgb(176, 182, 192);
    border-width: 1px;
    margin: 3px;
    border-radius: 10px;

}

.myinput{
    width: 120px;
    height: 40px;
     margin: 0;
     border: none;
}